---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=test%20villa%20street%0A&key=AIzaSyCG40e8L79gzDISFTnwNt3jdQtOJAR-Qos&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1816",
                       "short_name" : "1816",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "East Villa Street",
                       "short_name" : "E Villa St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Mid Central",
                       "short_name" : "Mid Central",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                   [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1816%20E%20Villa%20St%0APasadena,%20CA%2091107%20US&key=AIzaSyCG40e8L79gzDISFTnwNt3jdQtOJAR-Qos&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
  [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=5608%20SW%209th%20Ave%0ACape%20Coral,%20FL%2033914%20US&key=AIzaSyCG40e8L79gzDISFTnwNt3jdQtOJAR-Qos&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              [...]
- request:
    method: post
    uri: https://api.pay1.de/post-gateway/
    body:
      encoding: UTF-8
      string: aid=43559&amount=320301&api_version=3.11&backurl=https%3A%2F%2Fipnproxy.intervillas-florida.com%2Fapi%2Fbsp1%2Ftransactions%2FZTdtRTVZTmd4a3pobjJuMw%3D%3D%2Fcallback%3Fresult%3Dcancel&clearingtype=cc&country=DE&currency=USD&encoding=UTF-8&errorurl=https%3A%2F%2Fipnproxy.intervillas-florida.com%2Fapi%2Fbsp1%2Ftransactions%2FZTdtRTVZTmd4a3pobjJuMw%3D%3D%2Fcallback%3Fresult%3Derror&key=6593449aea0d44bd85c755bec9d2484c&language=de&lastname=Roggatz&mid=43362&mode=test&portalid=2031373&pseudocardpan=9410010000183255710&reference=e7mE5YNgxkzhn2n3&request=authorization&successurl=https%3A%2F%2Fipnproxy.intervillas-florida.com%2Fapi%2Fbsp1%2Ftransactions%2FZTdtRTVZTmd4a3pobjJuMw%3D%3D%2Fcallback%3Fresult%3Dsuccess
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        status=APPROVED
        txid=492358337
        userid=271113677
  recorded_at: Fri, 02 Sep 2022 22:00:16 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=test%20villa%20street%0A&key=AIzaSyCG40e8L79gzDISFTnwNt3jdQtOJAR-Qos&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Chicago, IL
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "801",
                       "short_name" : "801",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Villa Street",
                       "short_name" : "Villa St",
                       "ty[...]
