%h2= salute customer
%p
  Sie haben sich für eine unserer prächtigen Ferienvillen in Cape Coral,
  Florida interessiert.
%p
  Die Anfrage ist bei uns immer noch offen. Haben Sie noch Fragen, oder
  möchten Sie mit nachstehendem Link die Buchung abschliessen und sich
  unvergessliche Ferien sichern?
%p
  Sollten Sie kein weiteres Interesse an unserem Angebot haben, würden wir
  uns auf ein kurzes Feedback per E-Mail von Ihnen freuen.

= mail_button_link_to new_booking_url do
  &gt;&gt; Buchung abschliessen

%p
  Freundliche Grüsse
  %br
  Ihr INTERVILLAS-Team
