%h2= salute customer
%p with the following link

= mail_button_link_to new_booking_url do
  &gt;&gt; Review offer and complete booking

%p
  you can review our vacation rental offer. We guarantee a high quality
  standard for all our objects.
%p
  If you like the offer, you can complete the booking through the same
  link. You will receive an immediate confirmation with all essential
  details and payment information. Upon completion, the villa will be
  blocked for you in our system.
%p
  For all questions, just send a mail, we will be glad to help.
%p
  Have a great vacation in sunny Florida!
  %br
  Sincerely,
  %br
  Your INTERVILLAS-Team
