%h2= salute customer
%p unter folgender Adresse

= mail_button_link_to new_booking_url do
  &gt;&gt; Angebot ansehen und buchen

%p
  können Sie unser Angebot abrufen. Wir können Ihnen garantieren, dass alle
  unsere Objekte über einen hohen Qualitätsstandard verfügen. Eine deutschsprachige
  Verwaltung steht Ihnen auch in Cape Coral gerne zur Verfügung.
%p
  Sollten Sie sich nun entscheiden unser Angebot verbindlich zu buchen, haben
  Sie die Möglichkeit, direkt über diesen Angebots-Link die Buchung abzuschliessen.
  Sie erhalten umgehend unsere Auftragsbestätigung mit weiteren Detailangaben
  und den entsprechenden Zahlungskonditionen. Mit Abschluss der Buchung wird
  die Villa im System sofort blockiert und ist für Sie reserviert.
%p
  Sollten Sie jedoch noch weitere Fragen haben - schreiben Sie uns einfach.
  Wir sind Ihnen jederzeit gerne behilflich Ihnen einen unvergesslichen Urlaub
  in Cape Coral zu ermöglichen.
%p
  Freundliche Grüsse
  %br/
  Ihr INTERVILLAS-Team
