= render layout: "admin/my_booking_pal/layout" do
  %h1 Push Notification URLs

  %p.alert.alert-warning
    Do not change this values, unless you understand the consequences!

  %my-booking-pal-push-notifications
