%tr
  %td{ colspan: 2, style: "padding-top:10px" }
    %strong Boot #{boat.display_name}
%tr
  %td{ width: 120, style: "padding-left:15px" } von
  %td= l boat_inquiry.start_date
%tr
  %td{ width: 120, style: "padding-left:15px" } bis
  %td= l boat_inquiry.end_date
