= semantic_form_for password_reset_form, url: [:admin, password_reset_form, anchor: "basics"], html: { class: "form-horizontal panel panel-default" } do |f|
  = f.hidden_field :form_id, id: nil, name: "form"

  .panel-heading
    Passwort zurücksetzen

  .panel-body
    %p
      Dem Benutzer wird eine E-Mail mit einer Anleitung zum Passwort-Setzen
      an die E-Mail-Adresse <code>#{resource.email}</code> geschickt.

    - if resource.access_locked?
      %p.alert.alert-warning
        Dieser Benutzer-Account ist derzeit gesperrt. Mit einem Klick auf
        «Passwort zurücksetzen» wird das Freigabe-Level auf «Objekte» gesetzt.
    - else
      %p
        Das aktuelle Passwort bleibt unberührt, bis der Nutzer dem Link in
        der Anleitung gefolgt ist, und aktiv das Passwort geändert hat.

  .panel-footer.text-right
    = f.action :submit, label: "Passwort zurücksetzen", button_html: { data: { disable_with: t(:wait) }, class: "btn btn-primary" }
