.row
  %aside.col-md-3.sidebar-left
    = render "sidebar_left"

  .col-md-9
    .tab-content.main-tab-content
      #billings.tab-pane= render "billings"
      #communication.tab-pane= render "communication"
