%h3 Annulationskosten

%p Bei einem Rücktritt durch Sie verrechnen wir Ihnen folgende Annullierungsgebühren:
%ul
  %li Kostenlose Stornierung bis 90 Tage vor Mietbeginn, Bearbeitungsgebühr nach 7 Tagen ab Buchung 3 % des Rechnungsbetrages bis max. $250/€200.
  %li 35 % des Rechnungsbetrages 90 bis 60 Tage vor Mietbeginn.
  %li 50 % des Rechnungsbetrages 60 bis 30 Tage vor Mietbeginn.
  %li 100 % des Rechnungsbetrages innerhalb von 30 Tagen vor Mietbeginn.

%p= link_to fa(:caret_right, text: "mehr Info"), "/agb"
