%h3 Cancellation fees

%p
  If you cancel your booking we will charge the following cancellation fees:
%ul
  %li Free cancellation up to 90 days before the beginning of the rental period; admin fee 7 or more days after booking: 3 % of total rental cost with a maximum of $250/€200.
  %li 35 % of the total rental cost if a cancellation is made 90 to 60 days before the beginning of the rental period.
  %li 50 % of the total rental cost if a cancellation is made 60 to 30 days before the beginning of the rental period.
  %li 100 % of the total rental cost if a cancellation is made less than 30 days before the beginning of the rental period.

%p= link_to fa(:caret_right, text: "more information"), "/agb"
