%h3 Zahlungen

%p
  Die gesamte Mietsumme f체r das gebuchte Mietobjekt ist vor Antritt der
  Mietperiode zu bezahlen, und zwar wie folgt:
%ul
  %li 35 % der Gesamtsumme sind innerhalb von 7 Tagen nach der Buchung anzuzahlen.
  %li Der Restbetrag ist sp채testens 30 Tage vor Mietbeginn an Intervilla zu 체berweisen.
%p
  Bei kurzfristigen Buchungen von weniger als 30 Tagen vor Mietbeginn ist die
  Gesamtsumme sofort bei der Buchung f채llig und an Intervilla zu zahlen.
