%h3 Payments

%p
  The total rental cost of the property is due before the start of the
  rental period, as follows:
%ul
  %li A down payment of 35 % of the total price of the property is due within 7 days of booking.
  %li The remaining amount must be transferred to Intervilla no later than 30 days before the beginning of the rental period.
%p
  If a booking is made less than 30 days before the beginning of the rental period,
  the total amount is payable to Intervilla immediately at the time of booking.
