%p
  Bitte beachten Sie, dass die #{outstanding_payment.name} in Höhe von insgesamt
  %strong= display_price outstanding_payment.sum
  bis zum
  %strong= outstanding_payment.date
  erledigt sein muss.
