<section class="banner-slider" style="min-height:100vh;position:relative;background-color:<%= current_domain.theme_color %>">
  <picture class="banner-slide" style="position:absolute;width:100%;height:100%;top:0;left:0;display:flex;flex-direction:column;align-items:center;justify-content:center;text-align:center">
    <%= slider_sources_for(slide) %>
  </picture>
  <div class="banner-slide" style="position:absolute;width:100%;height:100%;top:0;left:0;display:flex;flex-direction:column;align-items:center;justify-content:center;text-align:center">
    <strong class="banner-big-text" style="display:block;color:#fff;text-shadow:0 3px 15px #333;font-size:45px;line-height:1.3;text-transform:uppercase;padding:6px 12px">Florida is waiting for you</strong>
    <a href="/ferienhaus-cape-coral" class="btn btn-slider btn-lg" style="box-shadow:none;border-radius:0;text-transform:none;color:white;background:rgba(0, 0, 0, 0.5);">
      Alle Villen auf einen Blick
    </a>
  </div>
</section>
