%p= salute customer
%p
  Ihr Urlaub in der #{villa.name} liegt nun schon ein paar Tage zurück
  und wir hoffen, dass Sie wieder wohlbehalten Zuhause angekommen sind?
%p
  Danke, dass Sie Ihre Ferien in dieser Villa verbracht haben. Wie hat
  Ihnen unser Service und die Villa gefallen - war alles zur Ihrer Zufriedenheit
  und hat alles Ihren Vorstellungen entsprochen? Hoffen auch, dass Sie
  uns weiterempfehlen können.
%p
  Es würde uns freuen, wenn Sie uns Ihre persönliche Beurteilung mitteilen würden.

= mail_button_link_to review_edit_url do
  &gt;&gt; Jetzt Ferienaufenthalt beurteilen

%p
  Herzlichen Dank für Ihr Feedback!
%p
  Wünschen Ihnen eine gute Zeit und bis zum nächsten Urlaub in Florida.
  %br
  Ihr INTERVILLAS-Team
