.row.mt-5
  .col-sm-3
    %p.img-thumbnail= vite_image_tag "images/insurance/travelsecure.png", class: "img-responsive"

  .col-sm-9.col-md-8.col-lg-7
    %p.lead
      Mit der <strong>Travel Secure Reiserücktrittsversicherung</strong> sind
      sie umfassend abgesichert: Erstattung der anfallenden Stornierungskosten
      bei Erkrankung, schwerer Unfall, Verlust des Arbeitsplatzes, Schwangerschaft,
      Schaden am Eigentum und vieles mehr.
    %p
      Bei der Produkteübersicht können Sie verschiedene Deckungsarten wählen,
      mit oder ohne Selbstbehalt. Die «Reiserücktrittsversicherung Grundschutz»
      ist der Mindestschutz und versichert Sie gegen anfallende Stornierungskosten
      bei Erkrankung, schwerer Unfall, Schwangerschaft etc.
    %p
      Für detaillierte Fragen bitten wir Sie, mit der Versicherung direkt Kontakt
      aufzunehmen.

    %p
      Nachdem Sie auf «zur Versicherungsanfrage» geklickt haben, werden
      Sie zu unserem Versicherungspartner weitergeleitet.
    %ul
      %li Klicken Sie dort auf «Reiseversicherung für Urlaubsreisen &amp; Spezialprodukte» (oben links).
      %li Wählen Sie <em>Anreisedatum</em> sowie <em>Abreisedatum</em> gemäss Ihren Flugverbindungen.
      %li Als <em>Reiseziel</em> wählen Sie «mit USA/Kanada».
      %li Tragen Sie die Anzahl der reisenden Personen ein.

    .well
      %a.btn.btn-block.btn-primary{ target: "_blank", href: "https://www.travelsecure.de/tarifrechner/default.aspx?partnerid=1-8-4343" }
        zur Versicherungsanfrage
        = fa :arrow_right
