.row.mt-5
  .col-sm-3
    %p.img-thumbnail= vite_image_tag "images/insurance/trawick-logo.png", class: "img-responsive"

  .col-sm-9.col-md-8.col-lg-7
    %p.lead
      Covers trip cancellation from $0 up to $100,000 and includes $250,000
      Primary Medical with coverage for Pre-Existing Medical conditions on plans
      purchased prior to or with final trip payment.

    %p
      $2000 Trip Delay includes lodging expenses Upgrades available. The
      optional Cancel for Any Reason (CFAR) provides reimbursement for the
      percentage of the prepaid, non-refundable, forfeited payments you paid for
      your trip, if you cancel your trip for any reason not otherwise covered.

    %p
      Must be purchased with initial policy and within 21 days of the initial
      trip deposit date, and the full, nonrefundable trip cost is insured.

    .well
      %a.btn.btn-block.btn-primary{ target: "_blank", href: "https://portal.trawickinternational.com/quote/product/172?agent=1631" }
        get a quote
        = fa :arrow_right
