= form_tag admin_two_factor_settings_path, method: :patch, class: "form-horizontal" do
  .panel.panel-default
    .panel-heading
      Zwei-Faktor-Authentisierung
    .panel-body
      %h4 Status
      %p
        Die Zwei-Faktor-Authentisierung wurde vorbereitet, ist aber noch nicht
        abschließend eingerichtet.
    .panel-body
      %h4 Einrichtung abschließen
      %p
        Um die Zwei-Faktor-Authentisierung zu aktivieren, öffnen Sie bitte Ihre
        Authenticator-App, und scannen den nachfolgenden QR-Code. Die App wird
        Ihnen einen Bestätigungscode anzeigen, den Sie bitte unten eingeben:
    .panel-body
      .text-center.mb-4
        = raw current_user.otp_provisioning_qrcode(width: "350")

      .form-group
        = label_tag :otp_attempt, "Code zur Bestätigung", class: "control-label col-sm-4"
        .col-sm-8
          = text_field_tag :otp_attempt, nil,
            required:     true,
            autofocus:    true,
            autocomplete: "one-time-code",
            maxlength:    6,
            minlength:    6,
            pattern:      "\\d{6}",
            class:        "form-control"
    .panel-footer.text-right
      %button.btn.btn-primary{ type: :submit, data: { disable_with: t(:wait) } } Weiter
