= form_tag admin_two_factor_settings_path, method: :delete, class: "form-horizontal" do
  .panel.panel-default
    .panel-heading Two Factor Authentication
    .panel-body
      %h4 Status
      %p
        Two factor authentication is currently <strong>active</strong>.
        You will be prompted for an OTP on each login.
    .panel-body.border-top.border-light
      %h4 Disable Two Factor Authentication
      %p
        To disable two factor authentication, please enter a OTP or
        backup code:

      .form-group
        = label_tag :otp_attempt, "Code zur Bestätigung", class: "control-label col-sm-4"
        .col-sm-8
          = text_field_tag :otp_attempt, nil,
            required:     true,
            minlength:    6,
            autocomplete: "one-time-code",
            pattern:      "\\d{6}|[0-9a-f]{#{User.otp_backup_code_length}}",
            class:        "form-control"

    .panel-footer.text-right
      %button.btn.btn-warning{ type: :submit, data: { disable_with: t(:wait) } } Disable
