---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=5608%20SW%209th%20Ave,%2033914,%20Cape%20Coral,%20FL&key=AIzaSyCG40e8L79gzDISFTnwNt3jdQtOJAR-Qos&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "5608",
                       "short_name" : "5608",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Southwest 9th Avenue",
                       "short_name" : "SW 9th Ave",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Pelican",
                       "short_name" : "Pelican",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=5608%20SW%209th%20Ave%0ACape%20Coral,%20FL%2033914%20US&key=AIzaSyCG40e8L79gzDISFTnwNt3jdQtOJAR-Qos&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=test%20villa%20street%0A&key=AIzaSyCG40e8L79gzDISFTnwNt3jdQtOJAR-Qos&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "results" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Mon, 08 Jan 2024 10:35:01 GMT
recorded_with: VCR 6.2.0
