%p
  %strong Checkout fast and easy with Credit Card.
  You want to pay with Credit Card? This is also possible with us.

- unless inquiry.prices_include_cc_fee
  %p
    If you pay with Credit Card, you agree to cover its fees
    (#{bsp1_fees}), see below for details.
