%p
  %strong Bequem und sicher mit Kreditkarte bezahlen.
  Sie möchten mit Kreditkarte zahlen? Dies ist
  bei uns auch möglich.

- unless inquiry.prices_include_cc_fee
  %p
    Bei Bezahlung erklären Sie sich damit einverstanden, die
    Gebühren in Höhe von #{bsp1_fees} zu
    tragen. Die absoluten Gebühren entnehmen Sie bitte der nachfolgenden
    Tabelle.
