%p
  %strong Checkout fast and easy with PayPal.
  You want to pay with Credit Card or Direct Debit? This is feasable
  with PayPal, even without a PayPal account.
- unless inquiry.prices_include_cc_fee
  %p
    If you pay with PayPal, you agree to cover its fees
    (#{paypal_fees}), see below for details.
