%h2.lined-heading
  %span Ihr Florida-Urlaub mit dem perfekten Boot

%p.lead
  In den gesamten USA finden Sie nur in Florida ein so umfassendes Angebot an Mietbooten.
  Alle Boote stehen unter stetiger Wartung und haben einen hohen Standard - ideal für alle
  Familien, die auf Bootfahren, Fischen und Tauchen nicht verzichten möchten.
%p
  Wenn Sie sich gerade unsicher sind, ob Sie ein Boot mieten möchten: Kein Problem!
  Sofern verfügbar, können wir Boote auch kurzfristig bereitstellen. Dies ist auch
  möglich, wenn Sie bereits vor Ort sind.
