%h2.lined-heading
  %span Your Florida vacation with the perfect boat

%p.lead
  Florida has the most vacation rentals with docks to be found in the United States.
  Find the best and largest selection of boat friendly Florida rentals with docks.
  Rent your personal boat and keep at your waterfront home. All our boats are perfectly
  maintained and have a high standard. Ideal for active families who love boating,
  fishing and diving.
%p
  You may opt to chose a boat later, even on short notice, and even if you're
  already at the location. Feel free to contact us, and we'll check the
  availability with you.
