%section.container
  .row
    .col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
      %p.lead
        This site only shows a selection of all available villas. To view
        the whole offering of Intervilla, please go to
        = succeed "." do
          = link_to "en.intervillas-florida.com", "https://en.intervillas-florida.com"
