%section.container
  .row
    .col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1
      %p.lead.text-center
        Die hier gezeigten Villen stellen nicht das Gesamtangebot von Intervilla dar.
        Das komplette Villenangebot finden Sie unter
        = succeed "." do
          = link_to "www.intervillas-florida.com", "https://www.intervillas-florida.com"
