.well
  %p
    Text-Schnipsel werden an verschiedenen Stellen auf der Webseite
    eingebettet. Es ist ratsam mit der Beschreibung anzugeben, wo ungefähr.
  %p
    Zur Formatierung können sowohl HTML als Markdown verwendet werden.
    Markdown ist eine einfache, Text-basierte Auszeichnungssprache.
  %p
    Einige HTML-Elemente (u.a. <code>&lt;script&gt;</code>, <code>&lt;iframe&gt;</code>)
    werden aus Sicherheitsgründen herausgefiltert.
  %p
    Die konkrete Markdown-Implementierung ist <em>kramdown</em>, und es stehen
    weitere Formatierungsmöglichkeiten zur Verfügung. Die vollständige Dokumentation
    kann
    = link_to "hier nachgeschlagen", "https://kramdown.gettalong.org/quickref.html", target: :_blank
    werden.
