---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=test%20villa%20street%0A&key=AIzaSyCG40e8L79gzDISFTnwNt3jdQtOJAR-Qos&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1816",
                       "short_name" : "1816",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "East Villa Street",
                       "short_name" : "E Villa St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Mid Central",
                       "short_name" : "Mid Central",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                   [...]
