%h4 Informationen zu Kontakten

%p
  Kontakte sind Villen und Booten als Besitzer und/oder Verwalter
  zugeordnet.
%p
  Nutzer und Kontakte können miteinander verknüpft werden, um so dem
  Benutzer Zugriff auf die Objekte zu geben, die den Kontakten zugeordnet sind.
