%h3 Why?
%p
  We value your feedback!
%p
  Customer feedback helps us to continually improve our service. Please
  tell us if your vacation was satisfactory, of if you found room for
  improvement on our side.
%p
  Please note, that we will publish customer reviews on an individual basis.
%p
  %strong Thank you for your feedback!
%p
  Have a good time,
  %br
  YOUR INTERVILLAS TEAM
