%h3 Warum?
%p
  Ihre Meinung ist uns wichtig!
%p
  Kundenmeinungen sind genereller Natur, können aber auch Verbesserungsvorschläge
  beinhalten, die uns helfen unsere Qualität kontinuierlich zu verbessern.
%p
  Beachten Sie bitte, dass wir Kundenrezensionen manuell freischalten.
%p
  %strong Herzlichen Dank für Ihr Feedback!
%p
  Wünschen Ihnen eine gute Zeit und bis zum nächsten Urlaub in Florida.
  %br
  IHR INTERVILLAS-TEAM
